body{
  background-color:#F4F4F4;
  a{
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
  }
  a:hover{
    color:	#FFA500;
  }
  
 
}