.footer{
  background-color:#272A32;
  color: #FFF;
  h5{
    padding: 1em 1em;
  }
  
  li{
    padding: 1em 1em;
    list-style: none;
  }
  .icon{
    float: left;
    font-size:2.0rem;
    margin-right:.5rem;
  }
}