#navigation{
  background-color:#343a40;
  font-size: x-large;
  
  .dropdown-menu{
    background-color:#343a40;
  }
  
  a{
    color:#F5F5F5;
    padding-right: 1.2rem;
  }
  a:hover{
    color:orange;
  }
  
  a.disabled{
    color:darkgray;
    pointer-events: none;
  }
  .dropdown-menu a:hover{
    background-color:#272A32;
  }
}