---
title: This is a test.
---

<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html %}
</head>
<body>
<div class="container">
    {% include nav.html %}

    <script type="text/javascript">
			document.querySelector( "#aboutLink" ).classList.toggle("active");
			document.querySelector( "#aboutLink" ).classList.toggle("disabled");
    </script>
    
    <div class="row">
        <h1>About Us</h1>
    </div>
    <div class="row">
        <h2>Al Schellenberg</h2>
    </div>

    <div class="row">
        <div class="col-sm-3">
            <img class="img-thumbnail img-fluid" src="/images/about-us/Profile_Al_edited.png" alt="Profile Picture of Al">
        </div>

        <div class="col-sm-9">
            <p>My names Al Schellenberg. I have been living in Mississauga for the past 3 years. I moved here shortly after
                retiring from my previous job as a manager at Safeway for 40 years. I have always worked long hours and have found joy in the work that I do. However, I 
                found after retiring that I had too much free time on my hands — I needed a hobby. </p>
            <p>After making new some new friends out here and helping them with some odd jobs, I discovered a new passion. I
                began tackling large projects, doing side work for my friends. Eventually, my work spread through word of mouth. I have had continuous work with my new found hobby for 2 years consistently! </p>
            <p>As I continue working doing what I love, I have gained an incredible amount of experience and I wish to further hone my skills. If you are interested in hiring me as a contractor please don't
                hesitate to call me anytime for an estimate! </p>
        </div>
    </div>
    <div class="row">
        <h2>Tony</h2>
    </div>
    
    <div class="row">
        <div class="col-sm-3">
            <p>Put tony pic here</p>
        </div>
        
        <div class="col-sm-3">
            <p>Put informatoin for tony here</p>
        </div>
    </div>
    
    
    
    
    {% include footer.html %}


</body>
</html>