---
title: This is a test.
---

<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html %}
    <link rel="stylesheet" href="/stylesheets/ken-burns.css">
</head>
<body>
    <div class="container-fluid">
        {% include nav.html %}

        <script type="text/javascript">
			    document.querySelector( "#homeLink" ).classList.toggle("active");
			    document.querySelector( "#homeLink" ).classList.toggle("disabled");
        </script>
        
        <div class="row">
            <!-- ++++++++++++++++++++++++++ BOOTSTRAP CAROUSEL +++++++++++++++++++++++++++++ -->

            <div id="kb" class="carousel slide kb_elastic animate_text kb_wrapper" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item item active">
                        <img class="d-block w-100" src="https://unsplash.it/1920/1680?image=878" alt="First slide">
                    </div>
                    <div class="carousel-item item">
                        <img class="d-block w-100" src="https://unsplash.it/1920/1680?image=874" alt="Second slide">
                    </div>
                    <div class="carousel-item item">
                        <img class="d-block w-100" src="https://unsplash.it/1920/1680?image=871" alt="Third slide">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>


</body>
</html>