---
title: This is a test.
---

<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html %}
    <link rel="stylesheet" href="/stylesheets/animate.min.css">
    <link rel="stylesheet" href="/stylesheets/ken-burns.css">
</head>
<body>
    <div class="container">
        {% include nav.html %}

        <script type="text/javascript">
			    document.querySelector( "#homeLink" ).classList.toggle("active");
			    document.querySelector( "#homeLink" ).classList.toggle("disabled");
        </script>
        
        <div class="row">
            <!-- ++++++++++++++++++++++++++ BOOTSTRAP CAROUSEL +++++++++++++++++++++++++++++ -->

            <div id="kb" class="carousel slide kb_elastic animate_text kb_wrapper" data-ride="carousel" data-interval="6000" data-pause="hover">
                <div class="carousel-inner">
                    <div class="carousel-item item active">
                        <img class="d-block w-100 img-fluid" src="https://unsplash.it/1920/1680?image=878" alt="First slide">
                        <div class="carousel-caption d-none d-md-block kb_caption">
                            <h1 data-animation="animated flipInX">Ken Burns</h1>
                            <h2 data-animation="animated flipInX">A jQuery / CSS3 extension</h2>
                        </div>
                    </div>
                    <div class="carousel-item item">
                        <img class="d-block w-100 img-fluid" src="https://unsplash.it/1920/1680?image=874" alt="Second slide">
                        <div class="carousel-caption d-none d-md-block kb_caption kb_caption_right">
                            <h1 data-animation="animated flipInX">Ken Burns</h1>
                            <h2 data-animation="animated flipInX">A jQuery / CSS3 extension</h2>
                        </div>
                    </div>
                    <div class="carousel-item item">
                        <img class="d-block w-100 img-fluid" src="https://unsplash.it/1920/1680?image=871" alt="Third slide">
                        <div class="carousel-caption d-none d-md-block kb_caption kb_caption_center">
                            <h1 data-animation="animated flipInX">Ken Burns</h1>
                            <h2 data-animation="animated flipInX">A jQuery / CSS3 extension</h2>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev left carousel-control kb_control_left" href="#kb" role="button" data-slide="prev">
                    <span class="fa fa-angle-left kb_icons" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next right carousel-control kb_control_right" href="#kb" role="button" data-slide="next">
                    <span class="fa fa-angle-right kb_icons" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>

    {% include footer.html %}
</body>
</html>