---
title: This is a test.
---

<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html %}
    <link rel="stylesheet" href="/stylesheets/animate.min.css">
    <link rel="stylesheet" href="/stylesheets/ken-burns.css">
    <link rel="stylesheet" href="/stylesheets/base.css">
</head>
<body>
<div class="container">
    {% include nav.html %}

    <script type="text/javascript">
			document.querySelector("#homeLink").classList.toggle("active");
			document.querySelector("#homeLink").classList.toggle("disabled");
    </script>

    <div class="row">
        <!-- ++++++++++++++++++++++++++ BOOTSTRAP CAROUSEL +++++++++++++++++++++++++++++ -->
        <div id="kb" class="carousel slide kb_elastic animate_text kb_wrapper" data-ride="carousel" data-interval="6000"
             data-pause="hover">
            <div class="carousel-inner">
                {% for item in site.data.carousel.carousel-images %}
                    {% if forloop.first %}
                        <div class="carousel-item item active">
                    {% else %}
                        <div class="carousel-item item">
                    {% endif %}
                            <img class="d-block w-100 img-fluid" src="{{item.img-link}}"
                                 alt="{{item.img-alt}}">
                            {% if item.img-caption-position == "Left" %}
                            <div class="carousel-caption d-none d-md-block kb_caption">
                            {% elsif item.img-caption-position == "Right" %}
                            <div class="carousel-caption d-none d-md-block kb_caption kb_caption_right">
                            {% else %}
                            <div class="carousel-caption d-none d-md-block kb_caption kb_caption_center">      
                            {% endif %}
                                <h1 data-animation="animated flipInX">{{item.img-main-text}}</h1>
                                <h2 data-animation="animated flipInX">{{item.img-secondary-text}}</h2>
                            </div>
                        </div>
                {% endfor %}
                </div>
                    <a class="carousel-control-prev left carousel-control kb_control_left" href="#kb" role="button"
                       data-slide="prev">
                        <span class="fa fa-angle-left kb_icons" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next right carousel-control kb_control_right" href="#kb" role="button"
                       data-slide="next">
                        <span class="fa fa-angle-right kb_icons" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
            </div>
        </div>
        {% include footer.html %}
</body>
</html>