---
title: "Site Map"
lang: 'en'
sitemap:
  exclude: 'yes'
---

<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html %}
    <link rel="stylesheet" href="/stylesheets/base.css">
    <link rel="stylesheet" href="/stylesheets/sitemap.css">
</head>
<body>
<div class="container">
    {% include nav.html %}

    <script type="text/javascript">
//			document.querySelector( "#contactLink" ).classList.toggle("active");
//			document.querySelector( "#contactLink" ).classList.toggle("disabled");
    </script>
    <div class="content">
    <div id="sitemap">
        <h1>{{page.title}}<i class="fa fa-sitemap"></i></h1>
        <hr>

        {% include sitemap.html context="/" currentPath=""  lang='en'%}

    </div>

    </div>
        

    {% include footer.html %}
</body>
</html>